
@model IEnumerable<Lectura>

@{
    ViewBag.Title = "Index";

}

<h2>Lecturas Generales</h2>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
</head>
<body>
    <script>
        function cambio(cb) {
            var id = cb.selectedIndex;
            $.ajax({
                type: "POST",
                traditional: true,
                async: false,
                cache: false,
                url: '/Lectura/Filtrar',
                context: document.body,
                data: { "id": id },
                success: function (listaFiltrada) {
                    window.alert("entra")
                    console.log(listaFiltrada);
                    var contenidotabla =
                        "<table class='table'>" +
                        "<tr>" +
                        "<th>" + "</th>" +
                        "<th>" + "<p align='center'>Valor</p>" + "</th>" +
                        "<th>" + "<p align='center'>Hora</p>" + "</th>" +
                        "<th>" + "<p align='center'>Tipo Lectura</p>" + "</th>" +
                        "</tr>";
                    for (var i = 0; i < listaFiltrada.length; i++) {
                        contenidotabla +=
                            "<tr>" +
                            "<td>" + listaFiltrada[i].Valor + "</td>" +
                            "<td>" + listaFiltrada[i].Fecha + "</td>" +
                            "<td>" + listaFiltrada[i].TipoLectura + "</td>" +

                            "</tr>";
                    }
                    contenidotabla += "</table>";
                    $('.tabla').html(contenidotabla);
                },
                error: function (xhr) {

                    //debugger;
                    console.log();
                    alert("Error has occurred.." + xhr.responseText);
                }
            });

            
        }

    </script>

    <div class="row">
        <div class="col-xs-4"></div>
        <div class="col-xs-3">
            <select id="comboboxtipolectura" onchange="cambio(this);">
                <option id="0">TODOS</option>
                <option id="1">humedad aire</option>
                <option id="2">temperatura</option>
                <option id="3">luminosidad</option>
                <option id="4">humedad tierra</option>
            </select>
        </div>
    </div>
    
    <div class="container tabla">
        <table class="table">
            <tr>

                <td>Valor  </td>
                <td>Hora</td>
                <td>Tipo de Lectura</td>
            </tr>
            @foreach (var item in ViewBag.TotalLectura)
            {
                <tr>

                    <td>@item.valor</td>
                    <td>@item.hora</td>
                    <td>@item.TipoLectura.nombre</td>
                </tr>
            }
        </table>
    </div>
</body>

</html>
