
@model IEnumerable<Lectura>

@{
    ViewBag.Title = "Index";

}

<h2>Lecturas Generales</h2>



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
</head>
<body>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />

    <link href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />


    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js "></script>
    <script>
        $(document).ready(function () {
            $('#tabla').DataTable({
                ajax: {
                    url: '/Lectura/Filt',
                    type: "POST",
                    datatype: "json"
                },
                columns: [

                    { "data": "Valor" },
                    { "data": "Fecha" },
                    { "data": "TipoLectura" }],

                dom: 'Bfrtip',
                buttons: [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ]

            });
        });
    </script>
    @*<script>
                function cambio(cb) {
                    var id = cb.selectedIndex;
                    $.ajax({
                        type: "POST",
                        traditional: true,
                        async: false,
                        cache: false,
                        url: '/Lectura/Filtrar',
                        context: document.body,
                        data: { "id": id },
                        success: function (listaFiltrada) {
                            console.log(listaFiltrada);
                            var contenidotabla =
                                "<table class='table'>" +
                                "<tr>" +
                                "<th>" + "</th>" +
                                "<th>" + "<p>Valor</p>" + "</th>" +
                                "<th>" + "<p>Hora</p>" + "</th>" +
                                "<th>" + "<p>Tipo Lectura</p>" + "</th>" +
                                "</tr>";
                            for (var i = 0; i < listaFiltrada.length; i++) {
                                contenidotabla +=
                                    "<tr>" +
                                    "<td>" + listaFiltrada[i].Valor + "</td>" +
                                    "<td>" + listaFiltrada[i].Fecha + "</td>" +
                                    "<td>" + listaFiltrada[i].TipoLectura + "</td>" +

                                    "</tr>";
                            }
                            contenidotabla += "</table>";
                            $('.tabla').html(contenidotabla);
                        },
                        error: function (xhr) {

                            //debugger;
                            console.log();
                            alert("Error has occurred.." + xhr.responseText);
                        }
                    });


                }

            </script>

        <div class="row">
                <div class="col-xs-4"></div>
                <div class="col-xs-3">
                    <select id="comboboxtipolectura" onchange="cambio(this);">
                        <option id="0">Todos</option>
                        <option id="1">Humedad Aire</option>
                        <option id="2">Temperatura</option>
                        <option id="3">Luminosidad</option>
                        <option id="4">Humedad Tierra</option>
                    </select>
                </div>
            </div>*@

    <div class="container tabla">
        <table class="table" id="tabla">
            <tr>

                <th>Valor  </th>
                <th>Hora</th>
                <th>Tipo de Lectura</th>
            </tr>
            @foreach (var item in ViewBag.TotalLectura)
            {
                <tr>

                    <th>@item.Valor</th>
                    <th>@item.Fecha</th>
                    <th>@item.TipoLectura</th>
                </tr>
            }
        </table>
    </div>
</body>

</html>
